#counterWrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

#counter {
  font-size: 56pt;
  cursor: pointer;
  user-select: none;
}

#buttons {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
