@import './theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

body {
  background-color: #fafafa;
}

.logo32 {
  width: 32px;
  height: 32px;
}

header {
  height: 6vh;
  min-width: 64px;
  padding: 0px 16px;
  background-color: $primaryColor;
  color: $onPrimaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @include BoxShadow(1);
}

h1 {
  flex: 1;
}

#reset {
  color: inherit;
  cursor: pointer;
}

#content {
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

button {
  min-width: 64px;
  height: 32px;
  position: relative;
  background: none;
  border: none;
  border-radius: 8px;
  outline: none;
  font-weight: bold;
}

button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  transition: all 0.1s;
}

button:hover::after {
  background-color: #b1b1b165;
}

.btn-primary {
  background-color: $primaryColor;
  color: $onPrimaryColor;
  @include BoxShadow(1);
}

.btn-secondary {
  background-color: $secondaryColor;
  color: $onSecondaryColor;
  @include BoxShadow(1);
}

.btn-outlined {
  border: 1px solid #585858b0;
}
